# 가상환경 무시
venv/
.venv/
env/

# 파이썬 캐시 무시ㅂ
__pycache__/
*.py[cod]
*.mp4
# YOLO/데이터셋 관련 (용량이 큰 경우)
datasets/
runs/
*.pt
ex1.mp4
best.pt
last.pt
venv/
__pycache__/
runs/
# OS 설정 파일
.DS_Store
*.mp4
*.mp4
